html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121214;
  color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #441387;
    padding: 36px;
    flex-wrap: wrap;
}

.header h1,
.header p {
  margin: 0;
}

.header .email {
  margin-left: auto;
  text-decoration: none;
  font-weight: bold;
}

.secheader {
  padding: 0px 40px;
  color:#e5ceff
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #2c1e30;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #b58de2;
  color: black;
}

.navbar .dropdown-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #3d3141;
  min-width: 160px;
  z-index: 1000;
}

.dropdown a {
  display: block;
  text-align: left;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #b58de2;
  color: black;
}

.navbar .dropdown-container:hover .dropdown {
  display: block;
}

.column {
  float: left;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #2c0642;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#about {
  background-color: #2c1e30;
  border-left: 5px solid #b58de2;
  padding: 1px 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 0 auto;
  gap: 20px;
  padding: 0px 20px 20px;
  border-bottom: 1px solid #2c0642;
}

.projects > div {
  background-color: #2c0642;
  border: 1px solid #441387;
  padding: 16px;
  border-radius: 8px;
  text-align: left;
}

.projects h3 {
  margin-top: 0;
}

.projects a {
  text-align: left;
  color: white;
  float: left;
}

#project-display {
  grid-template-columns: minmax(400px, 1fr) 400px;
}

.link-desc {
  margin-left: 8px;
}

@keyframes fillIn {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.ttt-fill {
  animation: fillIn 0.3s ease forwards;
  pointer-events: none;
}

@media screen and (max-width: 820px) {
  #project-display {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}